html { overflow: hidden; }
body{
    margin: 0;
    padding: 0;
    border: 0;
    }

.border{
        z-index: -15;
        position: absolute;
        top: 0px;
        background-color: rgb(75, 49, 146);
        left: 0px;
        width: calc(99%);            
        height: calc(99%);
        border: 2px solid #001100;
        }

button {
        border-radius: 10px;
        padding: 6%;
        margin: 3%;
        background: linear-gradient(to top, #FFFAFA, #8B8682);
        font-weight: 100%;
        }


.buttons{
        margin: 5% 5% 60% 82%;
        }

.contrls{
        margin: 5% 5% 5% 5%;
        }
.score{
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 100%;
        color: rgb(12, 1, 14);
        text-shadow: 0 0 6px rgb(56, 158, 141);
    }
.field{
        position: absolute;
        z-index: 30;            
        height: 5%;
        width:80%;
        left: 5%;
    }
.cell{
    margin: 0;
    display: inline-block;
    background-color: rgb(55, 57, 165);
    height: 100%;
    width: 23px;
    border: 1px solid #010;
    border-radius: 4px;
    z-index: 30;
    transition: background-color 0.3s;
}

.snake{
    box-shadow: 0 0 10px #000000 inset;
    background: linear-gradient(to right, rgb(17, 180, 221), rgb(11, 8, 184));
    z-index: 30;
    transition: background 0.2s;
}
.food{
        background-color:#FF0000;
        z-index: 30;
        box-shadow: 0 0 10px #000000 inset;
        transition: background-color 2s;
    }